#center{
    width: 100%;
    flex: 1px;
    /*background-color: #9E9E9E;*/
    /*background-image: url("../img/music/张杰.jpg");*/
    /*filter: blur(5px);*/
}
.CD{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #CFD8DC;
    background-color: black;
}
.CD1{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 1px solid #F5F5F5;

}
.CD2{
    width: 234px;
    height: 234px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
}
.CD3{
    width: 228px;
    height: 228px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
}
.CD4{
    width: 222px;
    height: 222px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
}
.CD5{
    width: 214px;
    height: 214px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
}
.CD6{
    width: 208px;
    height: 208px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
}
.CD7{
    width: 202px;
    height: 202px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
}
.CD8{
    width: 196px;
    height: 196px;
    border-radius: 50%;
    border: 1px solid  #F5F5F5;
    animation: linear infinite charge 10s;
}
@keyframes charge {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform:rotate(360deg);
    }
}